

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  z-index: -1;
  background-color: #F9F9F9;
  background-attachment: fixed;
  width: 100%;
  justify-content: center;
}

#browseContainer {
  margin: 40px;
}

.tile {
  padding: 5px
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
  padding: 15px 0;
  background-color: #F9F9F9;
}

.footer{
  padding: 20px;
  background-color: #BB9B8B;

}

.login {
  justify-content: center;
  margin-top: 100px;
  border: 2px solid black;
}

.formTemp {
  display: inline-block;
  justify-content: center;
  background-color: #F9F9F9;
  padding-bottom: 20px;
  width: 50%;
  border-radius: 2px;
}

label {
  color: #181617;
}

.home {
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  min-height: 85vh;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
}

.arrow {
  margin-bottom: 50px;
}

.tabs {
  margin-top: 50px;
  border: 2px solid #9C0A02;
}

.AppBar {
  color: #9C0A02;
  background-color: #9C0A02;
}
