.App-header {
  background-color: #1C2023;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  text-align: center;
  font-family: Roboto;
  background-image: url('/Background.svg');
  background-repeat: repeat;
  height: 100vh;
  z-index: -1;
  background-color: #1C2023;
  background-attachment: fixed;
  width: 100%
}

#browseContainer {
  margin: 40px;
}

.tile {
  padding: 5px
}

.navBar {
  position: fixed;
  top: 0;
  width:100%;
  background-color: black;
  z-index: 1;
  padding: 15px 0;
  justify-content: center;
  margin-left: -100;
}
